body{
background:grey;

}
.bg-colour{
	color:red;
	background:linear-gradient(to top right ,#A35C73,#368176  120%);
}
.banner{
	
  
	height:93vh;
	width:100%;
	background:url(../img/s3.png);
	background-repeat: no-repeat;
	background-size:cover;
		/* background-position: centre;
	
	background-attachment: scroll;
	*/
	color:rgb(37, 14, 33);
	
}
.mt{
	font-size:9px;
	font-family: "Times New Roman";
	margin-top: 15vh;
}
.aboutme{
	height:93vh;
	width:100%;
	background:url(../img/aboutkeliye1.png);
	background-repeat: no-repeat;
	background-size:cover;
	color:rgba(0, 0, 0,0.3);
}
.signup{
	height:93vh;
	width:100%;
	background:url(../img/pich1.png);
	background-repeat: no-repeat;
	background-size:cover;
	color:rgba(0, 0, 0,0.3);
}
.my-card{
	
	padding:20px;
	background-color:white;
	color:rgb(33, 33, 33);
}

.button1{
	
	background-color:#261967;
	

	
}
.button2{
	
	background-color:#279BA5;
}


.button1:hover{
	border-radius: 50%;	
}
.button2:hover{
	border-radius: 50%;

}


/* login ke liye */

  #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white;
  
}
 #login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
 }
#login .container #login-row #login-column #login-box #login-form #register-link {
   margin-top: -85px;
}
 
  
/* sidebar style  */

  @media only screen and (max-width:600px){
	    .sidebar{
			display:none;
			
			width:80% !important;
			
			background:white;
			
			height:100vh;
			
			position:fixed;
			
			padding-top: 20px;
	}
	.content{
	  margin-left: 2.5px !important;
    }
	
	
	
	
}

	.sidebar{
		width:18%;
		background:white;
		height:100%;
		position:fixed;
		padding-top: 45px;
		z-index: 999999999999999999;     /*so that it stays on top */
	}
	
	.sidebar a{
		
		display:block;
		width:100%;
		padding:10px 25px;
		text-decoration: none;
		color :rgb(0, 21, 127);
		
	}
	.sidebar a:hover{
		color:darkcyan;
		background-color:#e2e2e2;
		
		
	}
	.sidebar .divider{
		height:1.5px;
		width:100%;
		background: #e2e2e2;
		margin-top:15px;
	}
	
	.crossBtn{
		position:absolute;
		top:0;
		right:35px;
		font-size: 30px;
		cursor:pointer;
	}
	
	/* content style  */

	.content{
	  margin-left: 20%;
	  
    }
    
    /* to add background image to normal ke undar  */
    
    .baseofnormal{
	 background:url(../img/aboutkeliye.png);
    }
    
   /* view contacts ke page me user ke name se phle image ko
    show karne wale img tag  pe used class */
     
     
   .my_profile_pic{
	
	    width:35px;
	    height:35px;
	    object-fit: cover;   /* taki jo image sqaure me full nhi hain unko cover 
	                        karle basically image sahi dikhega na ki too zoomed */
	    border-radius: 50%;
	    
	                          
	                          
}
  



