
<!DOCTYPE html>

  <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  
    <head>
     <meta charset="utf-8"/>
     <title> this is base page[[home[page]]] </title>
    </head>
    
     <body>
         <section class="banner d-flex justify-content-center align-items-center ">
        
         <div class="text-center"> 
            <h1 class="fw-bold"> Smart Contact Manager</h1 >
            <p> Start collecting your contacts in very smart way. We provide very efficient and smarter way of handling contacts.</p>
            <button class="btn bg-primary btn-lg text-white"> Get started </button >
            <div class="fw-lighter text-center  mt">“I’ve never found it hard to hack most people. If you listen to them, watch them, their vulnerabilities are like a neon sign screwed into their heads.” </div>
         </div >
        
         </section >
         




    </body>
    
  </html>

